@charset "UTF-8";

@font-face {
	font-family: 'Iro';
	src: url(../font/IropkeBatangM.ttf) format('truetype');
}

@font-face {
	font-family: 'Inter';
	src: url(../font/INTERPARKGOTHICBOLD.TTF) format('truetype');
}

body {
	text-align: center;
	background-color: white;
}
td{
	font-family: 'Inter';
}

table {
	margin: auto;
}
.Listlogo{
    width: 50px;
    height: 50px;
    padding:10px;
}
.imgLogo{
  width:100px;
  margin-bottom: 10px;
  padding:10px;
}