@charset "UTF-8";

@font-face {
	font-family: 'Inter';
	src: url(../font/INTERPARKGOTHICBOLD.TTF) format('truetype');
}

body {
	font-family: Inter;
}


button {
	font-family: Inter;
	color: white;
	width: 70px;
	border-radius: 5px;
	padding: 6px;
	border: none;
	height: 34px;
	background-color: #fe8d7f;
	margin: 10px 10px 10px 0px;
}

input {
	font-family: Inter;
	width: 200px;
	height: 30px;
	border: 1px solid #5183b8;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
}

select {
	font-family: Inter;
	margin-top: 1px;
	background-color: #999;
	border: none;
	outline: none;
	color: #fff;
	width: 110px;
	height: 35px;
	border-radius: 5px;
}
#shopReg1{
	text-align: center;
	padding: 5%;
	margin: 10px 10px 10px 10ox;
}

form{
	width: 400px;
	padding:10px;
	margin:auto;
}
td{
	padding: 4px;
}
a {
	text-decoration: none;
	font-style: initial;
	font-weight: bold;
	color:black;

}
